{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_grid/grid

    Displays the grid.

    Context variables required for this template:
    * gridjustify - The justification for the grid.
    * gridsections - The array of sections.
    * showcompletion - If completion is on and shown.
    * sectionbreak - There is a section break for this section.
    * sectionbreakheading - Section break heading.
    * number - Section number.
    * currentsection - Current section?
    * sectionurl - Section URL.
    * sectionname - Section name.
    * imageuri - Image URI.
    * alttext - Image alternative text.
    * generatedimageuri - Generated image URI.
    * sectioncompletionmarkup - Section completion markup if any.

    Example context (json):
    {
        "gridjustification" : "space-between",
        "gridsections": [
            {
                "sectionbreak": false,
                "sectionbreakheading": "",
                "number": 41,
                "sectionurl": "https://mymoodle/course/view.php?id=4&section=1",
                "sectionname": "The first section",
                "imageuri": false,
                "generatedimageuri": "Base64 encoded svg",
                "sectioncompletionmarkup": ""
            },
            {
                "sectionbreak": true,
                "sectionbreakheading": "This is the section heading",
                "number": 42,
                "currentsection": true,
                "sectionurl": "https://mymoodle/course/view.php?id=4&section=2",
                "sectionname": "The second section",
                "imageuri": "https://mymoodle/pluginfile.php/358/format_grid/displayedsectionimage/42/1/ducking.jpg.webp",
                "imagealttext": "Duckling",
                "generatedimageuri": false,
                "sectioncompletionmarkup": ""
            }
        ],
        "showcompletion": true
    }
}}
<!-- Note, i'm using popup setting here to switch between a card and tile display. -->
<div class="row">
    {{#gridsections}}

    {{^popup}}
    <div id="section-{{number}}" class="col-md-6 col-lg-4 my-3 {{#currentsection}} currentgridsection{{/currentsection}}">
        <div class="ucl-card d-flex flex-column h-100">
            {{! Image. }}
            <div class="bg-cover mb-2 bg-light"
                style='background-image: url("{{{imageuri}}}"); height: 140px;'>
                {{#visible}}
                <div class="text-right pt-3" style="margin-top: -3px;">
                    <div class="ucl-card-arrow transition inline bg-yellow p-3">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
                {{/visible}}

                {{^visible}}
                    <div class="text-right p-2">
                        <span class="badge badge-pill badge-warning border border-dark">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}


                 {{$ core_courseformat/local/content/section/badges }}
        {{> core_courseformat/local/content/section/badges }}
    {{/ core_courseformat/local/content/section/badges }}
            </div>

            {{! Name. }}
            <div class="dashboard-card-details">
                <a href="{{sectionurl}}" class="stretched-link line-clamp-3 font-weight-bold">{{sectionname}}</a>
            </div>

            {{! Progress. }}
            {{#sectioncompletionmarkup}}{{{sectioncompletionmarkup}}}{{/sectioncompletionmarkup}}
        </div>

    </div>
    {{/popup}}



    {{#popup}}
    <div class="ucl-card row w-100 position-relative my-2">
    <div class="col-3">
        <div class="bg-cover bg-light" style='background-image: url("{{{imageuri}}}"); height: 140px;'>
                {{#visible}}
                <div class="text-right pt-3">
                    <div class="ucl-card-arrow transition inline bg-yellow p-3">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
                {{/visible}}

                {{^visible}}
                    <div class="text-right p-2">
                        <span class="badge badge-pill badge-warning border border-dark">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}
        </div>
    </div>
    <div class="col position-static">
        {{! Name. }}
        <div class="dashboard-card-details">
            <a href="{{sectionurl}}" class="stretched-link font-weight-bold">{{sectionname}}</a>
        </div>
        <div class="line-clamp-3"> {{{summary}}} </div>

        {{! Progress. }}
        {{#sectioncompletionmarkup}}{{{sectioncompletionmarkup}}}{{/sectioncompletionmarkup}}
    </div>
    </div>
    {{/popup}}
    {{/gridsections}}
</div>

<style>
.ucl-card-arrow {
    margin-top: -2px;
}
.ucl-card:hover .ucl-card-arrow {
    background-color: var(--primary) !important;
    color: white;
}
</style>


{{#js}}
require(['format_grid/thegrid'], function(gridhandler) {
    var sectionnumbers = [{{gridsectionnumbers}}];
    gridhandler.init(sectionnumbers, false, true);
});
{{/js}}
